@charset "UTF-8";

body {
	background-image: url("../img/DJ.gif");
	background-repeat: no-repeat;
	background-size: 30%;
	background-attachment: fixed;
	background-position: center ;
	background-color: black;
	background-attachment: fixed;
}

.siggy {
	font-size: 5rem;
	color: white;
	font-family: 'Arial', sans-serif;
	text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white, 0 0
		7rem #ff00de, 0 0 8rem #ff00de, 0 0 10rem #ff00de, 0 0 12rem #ff00de,
		0 0 15rem #ff00de;
	text-align: center;
}