@charset "UTF-8";

body {
   color: white;
}
* {
   font-size: small;
}
.join {
   margin: 0 auto;
   width: 640px;
   height: 1150px;
   border-style: solid;
   border-color: white;
}


.join h1 {
   margin: 0 auto;
   text-align: center;
   margin-top: 50px;
}

.text {
   font-size: 11pt;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;
   color: #EC87C0;
}

.title {
   width: 510px;
   margin: 0 auto;
}

input {
   width: 500px;
   height: 40px;
   border: 1px solid black;
   margin-top: 10px;
}

#idCheck{
   width: 80px;
   height: 44px;
   font-weight: bolder;
   margin-top: 10px;
   
}
.mb {
   width: 510px;
   height: 45px;
   border: 1px solid black;
   margin-top: 10px;
   background-color: white;
}


.select input[type=radio] {
   display: none;
}

.select input[type=radio]+label {
   display: inline-block;
   cursor: pointer;
   height: 45px;
   width: 250px;
   border: 1px solid #333;
   text-align: center;
   font-weight: bold;
   line-height: 45px;
}

.select input[type=radio]+label {
   background-color: #fff;
   color: #333;
}

.select input[type=radio]:checked+label {
   background-color: #333;
   color: #fff;
}