@charset "UTF-8";

body {
	background-image: url("../img/line.gif");
}

.write {
	font-size: 5rem;
	color: white;
	font-family: 'Arial', sans-serif;
	text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white, 0 0
		7rem #ff00de, 0 0 8rem #ff00de, 0 0 10rem #ff00de, 0 0 12rem #ff00de,
		0 0 15rem #ff00de;
	text-align: center;
}


.neonText {
	color: black;
	margin: 0 auto;
	width: 800px;
	height: auto;
	padding: 10px;
}

.neonText input {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

.neonText textarea {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	margin: 5px 0px;
	color: blakc;
}

.button {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	color: black;
}